.accountsSection {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}
.accountSelectSection {
  margin-top: 80px;
  width: 85%;
  height: 200px;
  background-color: #435c70;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}
.userSelectMenu {
  width: 90%;
  height: 50px;
  background-color: #54657d;
  color: #acc6de;
  font-size: 15px;
  font-weight: 550;
  border: 0;
  padding-left: 10px;
  box-sizing: border-box;
}
.headElement {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.accountsElements {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.headElement h3 {
  width: 90%;
  color: whitesmoke;
  margin: 0;
}
.accountsElements h3 {
  color: whitesmoke;
  width: 90%;
  margin: 15px;
  font-size: 17px;
}
.createAccountSection {
  margin-top: 80px;
  display: flex;
  width: 85%;
  justify-content: space-evenly;
  box-sizing: border-box;
}
.photoUploadSection {
  width: 40%;
  height: 400px;
  background-color: #435c70;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
  box-sizing: border-box;
  justify-content: space-evenly;
}
.profileImageSection {
  width: 70%;
  position: relative;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.informationAddSection {
  width: 60%;
  height: 400px;
  background-color: #435c70;
}
.headWrapper {
  width: 63%;
  color: whitesmoke;
}
.imageWrapper {
  width: 90%;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
}
.uploadPicBtnWrapper {
  width: 80%;
  text-align: center;
  cursor: pointer;
}
.profileImage {
  width: 100%;
}
.uploadPicBtnWrapper button {
  width: 80%;
  height: 50px;
  color: #fff;
  background-color: #f5a623;
  border: 2px solid #f5a623;
  font-size: 90%;
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
}

.trashProfileImageWrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -25px;
  margin-top: -25px;
  z-index: 1000;
  padding: 14px;
  border-radius: 50%;
  background-color: rgba(57, 78, 100, 0.7);
  /* width: 50px;
  height: 50px; */
  display: none;
  transition: 0.8s;
}
.profileImageSection:hover .trashProfileImageWrapper {
  color: whitesmoke;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
}
button:hover {
  background-color: #435c70;
  color: #f5a623;
}
