.apexcharts-canvas {
  color: whitesmoke;
}
.mixed-chart {
  color: whitesmoke;
}

@media (min-width: 320px) and (max-width: 480px) {
  .apexcharts-canvas {
    width: 50%;
  }
  .latestHits {
    width: 50%;
  }
  .app {
    width: 50%;
  }
}
