.navbarContainer {
  width: 100%;
  height: 100px;
  background-color: #567086;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navElementWrapper {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navElement {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  margin: 10px;
}
.navElement a {
  text-decoration: none;
  color: whitesmoke;
  width: 80%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navElement p {
  margin: 0;
}
.navElement a:hover {
  color: orange;
}
.navElement i {
  font-size: 25px;
  margin-bottom: 10px;
}
.mainHead {
  width: 20%;
  display: flex;
  justify-content: flex-start;
}
.mainHead h1 {
  color: whitesmoke;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
}
.mainHead a {
  text-decoration: none;
}
.loginText {
  width: 20%;
  text-align: end;
  display: flex;
  justify-content: flex-end;
}
.loginText a {
  text-decoration: none;
}
.loginText h1 {
  font-size: 15px;
  color: whitesmoke;
  cursor: pointer;
  text-decoration: none;
}

.loginLogo:hover {
  color: orange;
}
.adminLogo:hover {
  color: orange;
}
@media (max-width: 768px) {
  .navElementWrapper {
    display: none;
  }
}
