.productsSection {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.productInfoWrapper {
  margin-top: 100px;
  margin-bottom: 100px;
  width: 60%;
  background-color: #435c70;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
}
.productInfoDetails {
  width: 90%;
  height: 350px;
  overflow: auto;
  /* background-color: #567086; */
}
.productCategoriesWrapper {
  width: 30%;
  background-color: #435c70;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  overflow: auto;
  border-radius: 5px;
}
.productInfoWrapper td {
  width: 10%;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  /* color: whitesmoke; */
  font-size: 15px;
  font-weight: 600;
}
.infoList {
  margin: 2px;
  background-color: #567086;
  color: whitesmoke;
}
.selectList {
  width: 25px;
  height: 25px;
  border-radius: 50px;
  background-color: #394e64;
  margin-left: 25px;
  cursor: pointer;
}
.selectList input {
}

.deletIcon {
  width: 35px;
  height: 35px;
  border-radius: 50px;
  background-color: #394e64;
  margin-left: 25px;
  cursor: pointer;
  color: whitesmoke;
  text-align: center;
}
.deletIcon i {
  margin-top: 10px;
}
.productInfoDetails::-webkit-scrollbar {
  width: 10px;
  background-color: #425566;
}
.productInfoDetails::-webkit-scrollbar-thumb {
  background: #6e8192;
}
.infoHead {
  background-color: #486177;
  font-size: 15px;
  font-weight: 600;
  color: whitesmoke;
}
.infoList :hover {
  background-color: #486177;
  color: #acc6de;
  cursor: pointer;
}
.productBtnSection {
  width: 90%;
  height: 50px;
  margin: 10px;
}
.productsSection button {
  width: 100%;
  height: 50px;
  color: #fff;
  background-color: #f5a623;
  border: 2px solid #f5a623;
  font-size: 90%;
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
}
.categoriListWrapper {
  overflow: auto;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.categoriListWrapper::-webkit-scrollbar {
  width: 10px;
  background-color: #425566;
}
.categoriListWrapper::-webkit-scrollbar-thumb {
  background: #6e8192;
}
.categoriList {
  width: 90%;
  height: 50px;
  color: whitesmoke;
  display: flex;
  justify-content: space-around;
  margin: 1px;
  background-color: #567086;
}
.categoriList p {
  width: 50%;
  font-size: 15px;
  font-weight: 600;
}
.categoriesHead {
  width: 90%;
  color: whitesmoke;
  margin-top: 30px;
}
.categoryAddBtn {
  width: 90%;
  height: 50px;
  margin: 10px;
  text-align: center;
}
.categoryAddBtn button {
  width: 90%;
  height: 50px;
  color: #fff;
  background-color: #f5a623;
  border: 2px solid #f5a623;
  font-size: 90%;
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
}

button:hover {
  background-color: #435c70;
  color: #f5a623;
}
